main{
    background-color: $primary_color;
    .us__title{
        font-weight: 400;
        margin-top: 30px;
        margin-left: 10px;
        background-color: $secondary_color;
        padding-left: 10px;
     }
    .us__info{
        margin: 15px 20px 0px 20px;
        padding-bottom: 40px;
        text-align: justify;
        width: 80%;
     }
}