header{
    width: 100%;
    background-color: $secondary_color;
    position: fixed;
    justify-content: space-between;
    z-index: 4000;
    .header__logo{
        height: 100px;
        width: auto;
        display: inline;
     }
    nav{
        height: 80px;
     }
    .navbar-collapse{
        flex-grow: 0;
     }
    .navbar-nav li a{
        color: #010400;
        font-size: 20px;
        &:hover{
            transition: 1s;
            background-color: $tertiary_color;
            border-radius: 8%;
        }
    }
    .dropdown-menu{
        background-color: $tertiary_color;
        li:hover{
            background-color: $secondary_color;
            transition: 0.5s;
            border-radius: 8%;
            width: fit-content;
        }
     }
  }
 