.container__banner{
    .banner__title{
        display: flex;
        justify-content: center;
        h1{
            position: absolute;
            margin-top: 170px;
            font-size: 100px;
        }
    }
    .input-group{
        z-index: 200;
        display: flex;
        justify-content: center;
        input{
            width: 50%;
            position: absolute;
            margin-top: 300px;
        }
    }
    .banner__img{
        img{
            width: 100%;
            height: 600px;
            opacity: 80%;
            position: relative;
        }
    }
}