main{
   padding-bottom: 100px;
   .container__page{
      padding-left: 20px;
      padding-right: 40px;
      padding-top: 120px;
      display: grid;
      grid-template-columns: 1fr 3fr;
      column-gap: 40px;
      .container__property{
         display: flex;
         justify-content: center;
         img{
            width: 100%;
            height: 300px;
         }
      }
      .container__info{
         display: block;
         h2{
            font-size: 30px;
            background-color: $secondary_color;
         }
         p{
            font-size: 20px;
            text-align: justify;
         }
         strong{
            font-size: 23px;
         }
         .rooms__info{
            display: flex;
            margin-top: 10px;
            img{
               height: 30px;
               width: auto;
            }
            p{
               font-size: 20px;
               padding: 0px 8px;
            }
         }
      }
   }
}