.form__container{
    display: flex;
    flex-direction: column;
    margin: 30px;
    background-color: $secondary_color;
    padding: 10px 20px 10px 20px;
    label{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    input{
        width: 100%;
    }
    button{
        justify-content: right;
        margin-top: 10px;
        width: 80px;
        border-radius: 10%;
        &:hover{
            background-color: $tertiary_color;
            transition: 0.5s;
        }
    }
 }