 /* -----------------------------MEDIA QUERIE MOBILE */
 @media screen and (max-width:768px){
    /* ----------------INDEX */
    header{
       width: 100%;
       height: 90px;
       .header__logo{
            height: 80px;
            width: auto;
        } 
        .navbar-brand{
            font-size: 15px;
        }
        .navbar-toggler{
            border: 0;
        }  
        .navbar-collapse{
            background-color: $secondary_color;
            margin-top: -10px;
            padding: 10px;
        }
    }
    .container__banner{
        .banner__title{
            h1{
                font-size: 60px;
            }
        }
        .banner__img{
            img{
                height: 500px;
            }
        }
    }
    .carousel{
       width: 90%;
       margin-left: 25px;
        button{
            padding-top: 100px;
        }
    }
    .d-block{
       height: 300px;
    }
    .contact__link h3{
       font-size: 15px;
    }
    main{
        .places__general{
            display: grid;
            grid-template-columns: 1fr;
            grid-column-gap: 20px;
            grid-row-gap: 20px;
        }
        .img__container{
            display: flex;
            justify-content: center;
        }
        .general__img{
            transform: scale(1);
        }
        .location__general{
            margin: 0;
            h2{
                padding-left: 20px;
            }
        }
        .location_img{
            display: grid;
            grid-template-columns: 1fr;
            grid-row-gap: 20px;
            iframe, img{
                height: 300px;
            }
        }
    }
    footer{
        height: 150px;
    }   
    
    /* ------------------------PROPIEDADES */
    main{
        .container__page{
            grid-template-columns: 1fr;
            row-gap: 30px;
            padding: 90px 15px 0px 15px;
        }
    }
    /* ------------------------ CONTACTO */
    .main-img{
       height: 300px;
    }
    .time__info p{
       width: 80%;
    }
  }
 /* ----------------------------------MEDIA QUERIE TABLET */
  @media (min-width:768px) and (max-width: 1200px){
    /* --------------------INDEX */
    header{
       width: 100%;
       height: 90px;
        nav .container-fluid{
        width: 100%;
        display: flex;
        justify-content: space-between;
        }
        .header__logo{
            height: 80px;
            width: auto;
        }
        .navbar-brand{
            font-size: 15px;
        }
        .navbar-toggler{
            border: 0;
        }
        .navbar-nav{
            margin-top: -10px;
            padding-left: 20px;
            background-color: #bcb3b2;
        }
    }
    main{
        .places__general{
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        .img__container{
            display: flex;
            justify-content: center;
        }
        .general__img{
            margin: 20px;
        }
        .location_img{
            display: grid;
            grid-template-columns: 1fr;
            grid-row-gap: 20px;
            margin-left: 30px;
        }
    }
/* -------------------- PROPERTIES */
main{
    .container__page{
        grid-template-columns: 1fr;
        row-gap: 30px;
        padding: 90px 15px 0px 15px;
        .container__property{
            img{
                width: 80%;
                height: 400px;
            }
        }
    }
}
}
 